/* This file is for your main application css. */
* {
  box-sizing: border-box;
}

body {
  font-family: Helvertica, sans-serif;
  background-color: #009688;
  min-height: 100vh;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

main {
  background-color: #FFF;
  min-width: 300px;
  /*padding: 2em;*/
}

main > .block {
  /*text-align: center;*/
  padding: 2em 2em 0 2em;
}

main .table {
  text-align: left;
  margin: 2em 0;
}

main > .block:last-child {
  padding-bottom: 2em;
}

main > .block h2 {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.genimg {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.todo-search {
  padding: 1em 2em;
  border-left: none;
  border-right: none;
}

.todo-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em 2em;
  border-bottom: 1px solid lightgray;
}

.todo-list-item.not-match {
  display: none;
}

.todo-list-item.waiting {
  border-left: .5em solid #F44336;
  padding-left: 1.5em;
}

.todo-list-item.printing {
  border-left: .5em solid #DE5;
  padding-left: 1.5em;
}

.todo-list-item.processing {
  border-left: .5em solid #1c3de0;
  padding-left: 1.5em;
}

.todo-list-item.completed {
  border-left: .5em solid #4D1;
  padding-left: 1.5em;
  opacity: 0.3;
}

.todo-list-item:hover {
  background-color: #EFF7FF;
}

a {
  color: #EE8D2C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Clients */

.client-list {
  list-style: none;
}

.client-list-item {
  display: flex;
  align-items: center;
}

/* Inputs */

input, textarea {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: .5em;
  box-sizing: border-box;
  border: 1px solid lightgray;
  resize: none;
}

/* Utils */

.u-tal {
  text-align: left;
}

.u-tac {
  text-align: center;
}

.u-tar {
  text-align: right;
}
