<div class="block">
  <h2>Listing Clients</h2>
</div>

<ul class="todo-list">
  <%= for client <- @clients do %>
    <a href='<%= client_path(@conn, :show, client) %>'>
      <li class="todo-list__item">
        <div class="genimg" data-str='<%= client.id %>'></div>
        <%= client.name %>
      </li>
    </a>
  <% end %>
</ul>

<div class="block">
  <span><%= link "Opret ny klient", to: client_path(@conn, :new) %></span>
</div>
